.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 items per row for the first row */
    grid-template-rows: auto auto;
    /* 2 rows total */
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
}

.parent-skill {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.progress {
    width: 97%;
    height: 97%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-number {
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: 20px;
}

.title {
    font-family: 'Poppins', sans-serif;
    color: red;
    font-size: 20px;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.section {
    width: 80%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Make the second row with 3 items by changing the grid layout */
.skills-grid>.parent-skill:nth-child(n + 5) {
    grid-column: span 1;
    width: 200px;
}

.skills-grid>.parent-skill:nth-child(n + 5):nth-child(-n + 7) {
    grid-column: span 1;
    /* Ensure the second row has 3 items */
}